{% extends 'base.html' %}

{% load static %}

{% block css_additional %} <link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}"> {% endblock css_additional %}

{% block title %} My Fucking Portfolio {% endblock title %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <img id="main-photo" src="{% static 'portfolio/img/IMG-178.jpg' %}" alt="">
    <h1 id="IvanMinyaev">Ivan<br>Minyaev</h1>

    <h3><a href="{% url 'blog:blogs' %}">Blogs</a></h3>
    
    {% for project in projects %}
        <p>{{ project.title }}</p>
        <p>{{ project.description }}</p>
        <img src="{{ project.image.url }}" alt="sfd" width="200px">
        {% if project.url %}
            <br> <a href="{{ project.url }}">Link</a>
        {% endif %}
    {% endfor %}
{% endblock content %}